h1 {color: rgb(236, 205, 227);
font-size: 1rem;
}


body {
  background-color: #0B0C10; /* Preto Noite */
    color: #E0E0E0; /* Branco Suave */
    font-family: 'Montserrat', sans-serif;
    background-image: url(../SCRprincipal/imagens/logo3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Form {
  display: inline-block;
  color: rgb(221, 221, 148);
  text-justify: auto; 
}

input {
  font-size: 0.8rem;
}

label{
  font-size: 0.8rem;
}

option{
  font-size: 0.8rem;
}

#pais {
  font-size: 0.8rem;
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px)
{
    .Form {
      font-size: 0.6rem;
    }

    label{
  font-size: 0.6rem;
}

    input {
  font-size: 0.6rem;
}
  #pais {
  font-size: 0.6rem;
}


    h1 {
        font-size: 1rem;
        font-weight: 1000;
        font-display: auto;
        text-align: justify;
        text-justify: auto;
    }
}

/* Small devices (portrait tablets and large phones, 481px and up) */
@media only screen and (min-width: 481px)
{
    .Form {
      font-size: 0.8rem;
    }

    label{
  font-size: 0.8rem;
}

    input {
  font-size: 0.8rem;
}
  #pais {
  font-size: 0.8rem;
}


    h1 {
        font-size: 1.2rem;
        font-weight: 1000;
        font-display: auto;
        text-align: justify;
        text-justify: auto;
    }
}

/* Medium devices (landscape tablets, 1025px and up) */
@media only screen and (min-width: 1025px) {
   .Form {
      font-size: 1rem;
    }

    label{
  font-size: 1rem;
}

    input {
  font-size: 1rem;
}
  #pais {
  font-size: 1rem;
}


    h1 {
        font-size: 1.4rem;
        font-weight: 1000;
        font-display: auto;
        text-align: justify;
        text-justify: auto;
    }
}

/* Large devices (laptops/desktops, 1441px and up) */
@media only screen and (min-width: 1441px) {
   .Form {
      font-size: 1.2rem;
    }

    label{
  font-size: 1.2rem;
}

    input {
  font-size: 1.2rem;
}
  #pais {
  font-size: 1.2rem;
}


    h1 {
        font-size: 1.6rem;
        font-weight: 1000;
        font-display: auto;
        text-align: justify;
        text-justify: auto;
    }
}